@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@{
    Layout = null;
    var socialItems = Model.Value<IEnumerable<BlockListItem>>("socialLinks") ?? Enumerable.Empty<BlockListItem>();
}

<footer class="footer_dark overlay_bg_blue_90 overflow-hidden">
    <div class="top_footer text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-9">
                    <div class="footer_logo mb-4 pb-2">
                        <a href="/"><img alt="logo" src="@Model.Logo?.GetCropUrl()"></a>
                    </div>
                    @* <h6 class="widget_title2">Subscribe Our Newsletter</h6>
                    <div class="newsletter_form2">
                        <form>
                            <input type="text" class="form-control" required="" placeholder="Enter Email Address">
                            <button type="submit" title="Subscribe" class="btn btn-default btn-radius" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div> *@
                    @if (socialItems.Count() > 0)
                    {
                        <ul class="list_none social_icons social_white rounded_social border_social my-4">
                            @foreach (var item in socialItems)
                            {
                                var socialClass = "";
                                var cta = item.Content.Value<Link>("actionUrl");
                                switch (cta.Name.ToLowerInvariant())
                                {
                                    case "facebook":
                                        socialClass = "ion-social-facebook";
                                        break;
                                    case "youtube":
                                        socialClass = "ion-social-youtube-outline";
                                        break;
                                    case "instagram":
                                        socialClass = "ion-social-instagram-outline";
                                        break;
                                    case "twitter":
                                        socialClass = "ion-social-twitter";
                                        break;
                                }
                                <li><a href="@cta.Url" target="@cta.Target" title="@cta.Name"><i class="@socialClass"></i></a></li>
                                @* <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li> *@
                            }
                        </ul>
                    }
                    <ul class="list_none footer_link text-center footer_nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer overlay_bg_30">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright m-0 text-center">@Model.CopyrightText &copy; @DateTime.Now.Year, <a href="https://www.behf.info/" class="text_default">@Model.SiteName</a></p>
            </div>
        </div>
    </div>
    <div class="shape_img">
        <div class="ol_shape10">
            <img src="/assets/images/patterns/mandala_pattern6.png" alt="mandala">
        </div>
    </div>
</footer>