@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
    Layout = null;
    var socialLinks = Model.Value<IEnumerable<Link>>("socialLinks") ?? Enumerable.Empty<Link>();
    var blogLink = Model.BlogLink;
}

<footer class="site-footer" style="--bg-color: #764979; --color: #fff">
    <div class="site-footer__mid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="" class="text-decoration-none">
                            <figure class="mb-0">
                                <img src="/assets/images/BEHF_inside_trans.png" alt="BEHF" class="img-fluid"> @* @Model.Logo?.GetCropUrl() *@
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-group">
                        <h4>BEHF</h4>
                        <p>@Model.BEhfbrief</p>
                        @if (blogLink != null) {
                            <a href="@blogLink.Url" target="@blogLink.Target" title="@blogLink.Name">@blogLink.Name</a>
                        }
                        @if (socialLinks.Count() > 0)
                        {
                            <ul class="list-social">
                                @foreach (var item in socialLinks)
                                {
                                    var socialClass = "";                                    
                                    switch (item.Name.ToLowerInvariant())
                                    {
                                        case "facebook":
                                            socialClass = "fa-brands fa-facebook-f";
                                            break;
                                        case "youtube":
                                            socialClass = "fa-brands fa-youtube";
                                            break;
                                        case "zalo":
                                            socialClass = "fa-brands fa-zalo";
                                            break;
                                        @* case "instagram":
                                            socialClass = "fa-brands fa-instagram";
                                            break;
                                        case "twitter":
                                            socialClass = "fa-brands fa-twitter";
                                            break; *@
                                    }
                                    <li><a href="@item.Url" target="@item.Target" title="@item.Name"><i class="@socialClass" aria-hidden="true"></i></a></li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-group">
                        <h4>@(Model.QuickLinksText ?? "Quick Links")</h4>
                        <ul class="list-links">
                        @foreach (var item in Model.QuickLinks) {
                            <li><a href="@item.Url" target="@item.Target" title="@item.Name">@item.Name</a></li>
                        }
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-group">
                        <h4>@(Model.ContactInfoText ?? "Contact Info")</h4>
                        <ul class="list-contact">
                            <li>                                
                                <a href="tel:@Model.ContactPhone" class="text-decoration-none">
                                  <i class="fa-solid fa-phone"></i>@Model.ContactPhone
                                </a>
                            </li>
                            <li>                                
                                <a href="mailto:@Model.ContactEmail" class="text-decoration-none">
                                  <i class="fa-sharp fa-solid fa-envelope"></i>@Model.ContactEmail
                                </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-location-dot location"></i>
                                <span>@Model.ContactAddress</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__btm">
        <div class="container">
            <div class="footer-copyright col-xl-12">
                <p>@Model.CopyrightText &copy; @DateTime.Now.Year, <a href="@Model.SiteUrl" class="text_default">@Model.SiteName</a></p>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("Figures/lotus-meditator-sketch-left-negative", Tuple.Create("center-right", "mover-x a-fadein a-fadein--right"));
        // <figure class="animate-shape center-right mover-x a-fadein a-fadein--right"><img src="/assets/images/patterns/lotus-meditator-sketch-trimmedright-negative.png" alt="lotus meditator"></figure>
    }
</footer>