@using Umbraco.Cms.Core.PropertyEditors.ValueConverters
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models
@using YeahWeb.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    string heading = Model.Content.Value<string>("heading");
    string subHeading = Model.Content.Value<string>("subHeading");
    var ctaLink = Model.Content.Value<Link>("actionLink");
    var bgColor = Model.Content.Value<ColorPickerValueConverter.PickedColor>("backgroundColor");        
    var styleVal = string.IsNullOrEmpty(bgColor?.Color) ? "" : $"background-color: #{bgColor.Color};";
}

<div class="section-block__cnt pt-4 pb-4" style="@styleVal">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10 col-lg-8">
          @if (!string.IsNullOrWhiteSpace(subHeading)) {
            <h5 class="section-block__top a-fadein a-fadein--right">@subHeading</h5>
          }
            <h2 class="section-block__tle a-fadein a-fadein--right">@heading</h2>
            @if (Model.Content.HasValue("paragraph")) {
                <div class="text-lg card-plan__fet a-fadein a-fadein--left a-fadein--init">@Model.Content.Value("paragraph")</div>
            }
            @if (ctaLink != null) {
                <div class="content-btns">
                    <a href="@ctaLink.Url" class="btn btn-primary btn-lg btn-hover-slide-in btn-hover-jump-up">@ctaLink.Name</a>
                </div>
            }
        </div>
    </div>
</div>