@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var homePage = UmbracoContext.Content.GetSingleByXPath("//homePage") as HomePage;
    var heading = Model.Content.Value<string>("heading");
    var subheading = Model.Content.Value<string>("subHeading");
}

<container>
<div class="section-block__cnt">
    @if (!string.IsNullOrWhiteSpace(subheading))
    {
        <h5 class="sub_heading">@subheading</h5>
    }
    <h4>@heading</h4>
    <div class="text-lg">@Model.Content.Value("paragraph")</div>
    <ul class="list-contact contact-info">
    <li>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:@homePage.ContactPhone">@homePage.ContactPhone</a>
    </li>
    <li>
        <i class="fa-sharp fa-solid fa-envelope"></i>
        <a href="mailto:@homePage.ContactEmail">@homePage.ContactEmail</a>
    </li>
    <li>
        <i class="fa-solid fa-location-dot location"></i>
        <address>@homePage.ContactAddress</address>
    </li>
    </ul>
</div>
</container>